@model Productivo.Core.ViewModels.Security.LoginVM

@{
    Layout = "_LayoutLogin";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productivo / Ligero y Poderoso</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/Productivo.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" media="screen, print" href="~/css/fa-brands.css">
    </environment>
</head>

<body>
    <div class="page-inner bg-brand-gradient">
        <div class="page-content-wrapper bg-transparent m-0">
            <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
                <div class="d-flex align-items-center container p-0">
                </div>
            </div>
           
            <div class="flex-1" style="background: url(/img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">
                <div class="container py-12 py-lg-5 my-lg-5 px-4 px-sm-0">
                    <div class="col-md-12">
                        <center>
                            <div class="card p-4 rounded-plus bg-faded">
                                <div class="middle-box text-center loginscreen  animated fadeInDown">
                                    <div>
                                        <div>
                                            <img src="~/images/Logos/Productivo Small.png" height="150" width="150" />
                                        </div>
                                        <p></p>
                                        <h2 class="h3-Productivo-Titulo-Blue-2">Productivo Core - Operations</h2>
                                        <p>
                                            <h3 class="h4-Productivo-Titulo-Blue-2">Ligero & Poderoso</h3>
                                        </p>

                                        <form method="post" class="m-t">

                                            <div class="form-group">
                                                <input asp-for="Email" class="form-control" placeholder="Usuario">
                                                <span asp-validation-for="Email" class="text-danger"></span>

                                            </div>
                                            <div class="form-group">
                                                <input asp-for="Password" class="form-control" placeholder="Password">
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label asp-for="RememberMe">
                                                        <input asp-for="RememberMe" />
                                                        @Html.DisplayNameFor(m => m.RememberMe)
                                                    </label>
                                                </div>
                                            </div>
                                            @if (@ViewBag.msg != null)
                                            {
                                                <hr />
                                                <div id="message-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true"><i class="fal fa-trash-alt"></i></span>
                                                    </button>
                                                    <strong>@ViewBag.msgtitle</strong> @ViewBag.msg
                                                </div>
                                            }
                                            <button type="submit" class="btn btn-warning block full-width m-b">Login</button>
                                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                        </form>
                                    </div>
                                    <p></p>
                                    <p></p>
                                    <p class="m-t"> <small class="copyright-Pandora">Development By Productivo Group S.A.S. &copy; 2020</small> </p>
                                </div>
                            </div>
                            <div class="d-flex flex-row opacity-70">
                                <a href="https://twitter.com/productivog" class="mr-2 fs-xxl text-white">
                                    <i class="fab fa-twitter-square"></i>
                                </a>
                                <a href="http://linkedin.com/company/productivo-group" class="mr-2 fs-xxl text-white">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>