@model IEnumerable<Productivo.Core.Entities.DiagnosticEntity>

@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
}
<h1 class="h1-Productivo">Diagnostico & Modelo</h1>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2></h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Maximizar"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Cerrar"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <table id="MyTable" class="table table-hover table-striped table-sm w-100">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DiagDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EndDiagDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SubSectors.SubSector)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Employees.FullName)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiagDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDiagDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubSectors.SubSector)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employees.FullName)
                                    </td>
                                    <td>
                                        @if (item.Remarks.Equals("No"))
                                        {
                                            <a  class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Comparar"><i class="fal fa-analytics"></i></a>
                                        }
                                        else
                                        {
                                            <a asp-action="CompareModel" asp-route-id="@item.Id" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Comparar"><i class="fal fa-analytics"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<partial name="_DeleteDialog" />

@section ScriptsBlock {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por pagina",
                    "emptyTable": "No hay registros para mostrar",
                    "zeroRecords": "No se encontro nada - Lo siento.",
                    "info": "Mostrando Pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No existen registros disponibles",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "infoFiltered": "(Filtrado de _MAX_ registros totales)"
                }
            });
        });
    </script>
}

