@model Productivo.Core.ViewModels.MovementDetails.MovementDetailCreateViewModel

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-10">
        <h2>Detalle Movimientos Basicos - Productivo Textile Factory</h2>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2></h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Maximizar"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Cerrar"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form enctype="multipart/form-data" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CreateDate" value="@DateTime.Now.ToString("MM-dd-yyyy")" />
                        <input type="hidden" asp-for="LastUpdateDate" value="@DateTime.Now.ToString("MM-dd-yyyy")" />
                        <input type="hidden" asp-for="CreateUserId" value="@userManager.GetUserAsync(User).Result.Id" />
                        <input type="hidden" asp-for="UpdateUserId" value="@userManager.GetUserAsync(User).Result.Id" />
                        <input type="hidden" asp-for="CompanyId" value="@userManager.GetUserAsync(User).Result.CompanyId" />
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label asp-for="Code" class="control-label h4-Pandora"></label>
                                    <input asp-for="Code" class="form-control" />
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label h4-Pandora"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label asp-for="MovementBasicsId" class="control-label h4-Pandora"></label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <select asp-for="MovementBasicsId" id="movementbasic-id" class="form-control" asp-
                                                    asp-items="ViewBag.MovementBasics">
                                                <option disabled selected value="">Seleccione un movimiento basico...</option>
                                            </select>

                                        </div>
                                        <div>
                                            <p>
                                                <a asp-action="Create" class="h3-Productivo  btn btn-success btn-sm" data-toggle="modal" data-target="#modal-create-movementbasic" data-placement="bottom" title="Nuevo"><i class="fal fa-plus-square"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <span asp-validation-for="MovementBasicsId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <button type="submit" class="h3-Productivo  btn btn-primary btn-sm"><i class="glyphicon glyphicon-floppy-saved"></i> Salvar</button>
                                    <a asp-action="Index" class="h3-Productivo  btn btn-warning btn-sm"><i class="glyphicon glyphicon-step-backward"></i> Regresar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-------------------------------------------------------ModalCode---------------------------------------------------------------->
            <form id="add-item-movementbasic">
                <div class="modal fade" id="modal-create-movementbasic" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    <div class="col-lg-12">
                                        <h2>Movimientos Basicos</h2>
                                    </div>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="panel-container show">
                                    <div class="panel-content">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="MovementBasics.Code" class="control-label h4-Pandora"></label>
                                                    <input asp-for="MovementBasics.Code" id="movementbasic-code" class="form-control" />
                                                    <span asp-validation-for="MovementBasics.Code" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="MovementBasics.Name" class="control-label h4-Pandora"></label>
                                                    <input asp-for="MovementBasics.Name" id="movementbasic-name" class="form-control" />
                                                    <span asp-validation-for="MovementBasics.Name" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="h3-Productivo  btn btn-primary btn-sm"><i class="glyphicon glyphicon-floppy-saved"></i> Salvar</button>
                                    <a id="close-modal-movementbasic" class="h3-Productivo  btn btn-warning btn-sm" data-dismiss="modal"><i class="glyphicon glyphicon-step-backward"></i> Regresar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
@section ScriptsBlock {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
    $("#add-item-movementbasic").on('submit', function (evt) {
        evt.preventDefault();

        var _code = $("#movementbasic-code").val();
        var _name = $("#movementbasic-name").val();

        $.getJSON(window.location.pathname.replace('/Create', '/AddMovementBasics'),
            {
                name: _name,
                code: _code
            },
            function (data) {
                $("#close-modal-movementbasic").click();
                var _id = data['id'];
                $("#movementbasic-id").append(`<option value="${_id}">${_name}</option>`);
                $('#add-item-movementbasic')[0].reset();
            }
        );
    });
</script>
}