@model Productivo.Core.ViewModels.Stops.StopCreateViewModel


<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-10">
        <h1 class="h1-Productivo">Paradas</h1>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2></h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Maximizar"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Cerrar"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form enctype="multipart/form-data" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CreateDate" value="@DateTime.Now.ToString("MM-dd-yyyy")" />
                        <input type="hidden" asp-for="LastUpdateDate" value="@DateTime.Now.ToString("MM-dd-yyyy")" />
                        <input type="hidden" asp-for="CreateUserId" value="@userManager.GetUserAsync(User).Result.Id" />
                        <input type="hidden" asp-for="UpdateUserId" value="@userManager.GetUserAsync(User).Result.Id" />
                        <input type="hidden" asp-for="CompanyId" value="@userManager.GetUserAsync(User).Result.CompanyId" />
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label asp-for="StopsCategoriesId" class="control-label h4-Pandora"></label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <select asp-for="StopsCategoriesId" id="stop-categories-id" class="form-control" asp-
                                                    asp-items="ViewBag.StopCategories">
                                                <option disabled selected value="">Seleccione un tipo...</option>
                                            </select>
                                        </div>
                                        <div>
                                            <p>
                                                <a asp-action="Create" class="h3-Productivo  btn btn-success btn-sm" data-toggle="modal" data-target="#modal-create-stop-categories" data-placement="bottom" title="Nuevo"><i class="fal fa-plus-square"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <span asp-validation-for="StopsCategoriesId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Level" class="control-label h4-Pandora"></label>
                                    <input asp-for="Level" class="form-control" />
                                    <span asp-validation-for="Level" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Code" class="control-label h4-Pandora"></label>
                                    <input asp-for="Code" class="form-control" />
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label h4-Pandora"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label asp-for="AreasId" class="control-label h4-Pandora"></label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <select asp-for="AreasId" id="area-id" class="form-control" asp-
                                                    asp-items="ViewBag.Areas">
                                                <option disabled selected value="">Seleccione un tipo...</option>
                                            </select>
                                        </div>
                                        <div>
                                            <p>
                                                <a asp-action="Create" class="h3-Productivo  btn btn-success btn-sm" data-toggle="modal" data-target="#modal-create-areas" data-placement="bottom" title="Nuevo"><i class="fal fa-plus-square"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <span asp-validation-for="AreasId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Cost" class="control-label h4-Pandora"></label>
                                    <input asp-for="Cost" class="form-control" />
                                    <span asp-validation-for="Cost" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <button type="submit" class="h3-Productivo  btn btn-primary btn-sm"><i class="glyphicon glyphicon-floppy-saved"></i> Salvar</button>
                                    <a asp-action="Index" class="h3-Productivo  btn btn-warning btn-sm"><i class="glyphicon glyphicon-step-backward"></i> Regresar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-------------------------------------------------------ModalCode---------------------------------------------------------------->
            <form id="add-item-stop-categories">
                <div class="modal fade" id="modal-create-stop-categories" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    <div class="col-lg-12">
                                        <h2>Categorias de parada</h2>
                                    </div>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="panel-container show">
                                    <div class="panel-content">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="StopsCategories.Level" class="control-label h4-Pandora"></label>
                                                    <input asp-for="StopsCategories.Level" id="stop-categories-level" class="form-control" />
                                                    <span asp-validation-for="StopsCategories.Level" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="StopsCategories.Code" class="control-label h4-Pandora"></label>
                                                    <input asp-for="StopsCategories.Code" id="stop-categories-code" class="form-control" />
                                                    <span asp-validation-for="StopsCategories.Code" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="StopsCategories.Name" class="control-label h4-Pandora"></label>
                                                    <input asp-for="StopsCategories.Name" id="stop-categories-name" class="form-control" />
                                                    <span asp-validation-for="StopsCategories.Name" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="h3-Productivo  btn btn-primary btn-sm"><i class="glyphicon glyphicon-floppy-saved"></i> Salvar</button>
                                    <a id="close-modal-stop-categories" class="h3-Productivo  btn btn-warning btn-sm" data-dismiss="modal"><i class="glyphicon glyphicon-step-backward"></i> Regresar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form id="add-item-areas">
                <div class="modal fade" id="modal-create-areas" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    <div class="col-lg-12">
                                        <h2>Areas</h2>
                                    </div>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="panel-container show">
                                    <div class="panel-content">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Areas.Name" class="control-label h4-Pandora"></label>
                                                    <input asp-for="Areas.Name" id="areas-name" class="form-control" />
                                                    <span asp-validation-for="Areas.Name" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="h3-Productivo  btn btn-primary btn-sm"><i class="glyphicon glyphicon-floppy-saved"></i> Salvar</button>
                                    <a id="close-modal-areas" class="h3-Productivo  btn btn-warning btn-sm" data-dismiss="modal"><i class="glyphicon glyphicon-step-backward"></i> Regresar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
@section ScriptsBlock {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $("#add-item-areas").on('submit', function (evt) {
            evt.preventDefault();

            var _name = $("#areas-name").val();

            $.getJSON(window.location.pathname.replace('/Create', '/AddAreas'),
                {
                    name: _name
                },
                function (data) {
                    $("#close-modal-areas").click();
                    var _id = data['id'];
                    $("#area-id").append(`<option value="${_id}">${_name}</option>`);
                    $('#add-item-areas')[0].reset();
                }
            );
        });


        $("#add-item-stop-categories").on('submit', function (evt) {
            evt.preventDefault();

            var _name = $("#stop-categories-name").val();
            var _level = $("#stop-categories-level").val();
            var _code = $("#stop-categories-code").val();

            $.getJSON(window.location.pathname.replace('/Create', '/AddStopCategories'),
                {
                    name: _name,
                    level: _level,
                    code: _code
                },
                function (data) {
                    $("#close-modal-stop-categories").click();
                    var _id = data['id'];
                    $("#stop-categories-id").append(`<option value="${_id}">${_name}</option>`);
                    $('#add-item-stop-categories')[0].reset();
                }
            );
        });
    </script>
}
