@model List<Productivo.Core.ViewModels.Security.UserRoleViewModel>

@{
    var roleId = ViewBag.roleId;
}

<h1 class="h1-Productivo">Asignacion Usuarios a Roles</h1>
<p>
    <a asp-action="CreateRole" class="h3-Productivo  btn btn-primary btn-sm">Nuevo Rol</a>
</p>

<form method="post">
    <div class="card">
        <div class="card-header">
            <h3>Adicionar o eliminar usuario de este rol.</h3>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].UserName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].UserName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <button type="submit" class="h3-Productivo  btn btn-primary btn-sm"> Actualizar</button>
            <a asp-action="UpdateRole" asp-route-id="@roleId" class="h3-Productivo  btn btn-secondary btn-sm">Regresar</a>
        </div>
    </div>
</form>