@model Productivo.Core.ViewModels.ProductionOrders.ProductionOrderImportViewModel

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-10">
        <h2>Importar Ordenes de produccion</h2>
    </div>
</div>

@if (@ViewBag.msg != null)
{
    <div id="message-alert" class="alert alert-danger alert-dismissible fade show"  role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fal fa-trash-alt"></i></span>
        </button>
        <strong>@ViewBag.msgtitle</strong> @ViewBag.msg
    </div>
}


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2></h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Maximizar"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Cerrar"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form method="post" enctype="multipart/form-data" asp-action="Imports">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label h4-Pandora"> Para realizar el cargue correcto de las ordenes de produccion descargue la siguiente plantilla:</label>
                                    <ul>
                                        <li>@Html.ActionLink("Ordenes de produccion", "DownloadTemplate", "ProductionOrders", new { file = "productionOrder" })</li>
                                        <li>@Html.ActionLink("Produccion", "DownloadTemplate", "ProductionOrders", new { file = "orderDetail" })</li>
                                        <li>@Html.ActionLink("Insumos", "DownloadTemplate", "ProductionOrders", new { file = "productionInfo" })</li>
                                        <li>@Html.ActionLink("Procesos", "DownloadTemplate", "ProductionOrders", new { file = "orderProcess" })</li>
                                        <li>@Html.ActionLink("Paradas", "DownloadTemplate", "ProductionOrders", new { file = "productionStop" })</li>
                                    </ul>
                                </div>
                                <hr />
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="FilePathProductionOrders" class="control-label h4-Pandora"></label>
                                        <div class="custom-file">
                                            <input asp-for="FilePathProductionOrders" class="form-control custom-file-input" />
                                            <label class="custom-file-label">Seleccionar archivo...</label>
                                        </div>
                                        <span asp-validation-for="FilePathProductionOrders" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="FilePathProductionOrderDetails" class="control-label h4-Pandora"></label>
                                        <div class="custom-file">
                                            <input asp-for="FilePathProductionOrderDetails" class="form-control custom-file-input" />
                                            <label class="custom-file-label">Seleccionar archivo...</label>
                                        </div>
                                        <span asp-validation-for="FilePathProductionOrderDetails" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="FilePathProductionInfos" class="control-label h4-Pandora"></label>
                                        <div class="custom-file">
                                            <input asp-for="FilePathProductionInfos" class="form-control custom-file-input" />
                                            <label class="custom-file-label">Seleccionar archivo...</label>
                                        </div>
                                        <span asp-validation-for="FilePathProductionInfos" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="FilePathProductionOrderProcesses" class="control-label h4-Pandora"></label>
                                        <div class="custom-file">
                                            <input asp-for="FilePathProductionOrderProcesses" class="form-control custom-file-input" />
                                            <label class="custom-file-label">Seleccionar archivo...</label>
                                        </div>
                                        <span asp-validation-for="FilePathProductionOrderProcesses" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="FilePathProductionStops" class="control-label h4-Pandora"></label>
                                        <div class="custom-file">
                                            <input asp-for="FilePathProductionStops" class="form-control custom-file-input" />
                                            <label class="custom-file-label">Seleccionar archivo...</label>
                                        </div>
                                        <span asp-validation-for="FilePathProductionStops" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <button type="submit" class="h3-Productivo  btn btn-primary btn-sm"><i class="glyphicon glyphicon-floppy-saved"></i> Salvar</button>
                                    <a asp-action="Index" class="h3-Productivo  btn btn-warning btn-sm"><i class="glyphicon glyphicon-step-backward"></i> Regresar</a>
                                    <div id="loader-spinner" class="hide" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsBlock {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {

            $('.custom-file-input').on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            });
        });
        $(window).on('submit', function (e) {
            document.getElementById("loader-spinner").className = "spinner-border spinner-border-sm text-info";
        });
    </script>
}





