@model Productivo.Core.ViewModels.CutsRelations.CutsRelationCreateViewModel

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-10">
        <h2>Cortes de carne</h2>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2></h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Maximizar"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Cerrar"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form enctype="multipart/form-data" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CreateDate" value="@DateTime.Now.ToString("MM-dd-yyyy")" />
                        <input type="hidden" asp-for="LastUpdateDate" value="@DateTime.Now.ToString("MM-dd-yyyy")" />
                        <input type="hidden" asp-for="CreateUserId" value="@userManager.GetUserAsync(User).Result.Id" />
                        <input type="hidden" asp-for="UpdateUserId" value="@userManager.GetUserAsync(User).Result.Id" />
                        <input type="hidden" asp-for="CompanyId" value="@userManager.GetUserAsync(User).Result.CompanyId" />
                        <input type="hidden" asp-for="MainCutMeatId" value="@ViewBag.MainCutId" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label asp-for="SubCutMeatId" class="control-label h4-Pandora"></label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <select asp-for="SubCutMeatId" id="cuts-id" class="form-control"
                                                    asp-items="@(List<SelectListItem>)ViewBag.Cuts">
                                                <option disabled selected value="">Seleccione un corte...</option>
                                            </select>
                                        </div>
                                        <div>
                                            <p>
                                                <a asp-action="Create" class="h3-Productivo  btn btn-success btn-sm" data-toggle="modal" data-target="#modal-create-cuts" data-placement="bottom" title="Nuevo"><i class="fal fa-plus-square"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <span asp-validation-for="SubCutMeatId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <button type="submit" class="h3-Productivo  btn btn-primary btn-sm"><i class="glyphicon glyphicon-floppy-saved"></i> Salvar</button>
                                    <a asp-action="Index" asp-route-id="@ViewBag.ChannelId" class="h3-Productivo  btn btn-warning btn-sm"><i class="glyphicon glyphicon-step-backward"></i> Regresar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-------------------------------------------------------------ModalCode's------------------------------------------------------------->
            <form id="add-item">
                <div class="modal fade" id="modal-create-cuts" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    <div class="col-lg-12">
                                        <h2>Cortes de carne</h2>
                                    </div>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="panel-container show">
                                    <div class="panel-content">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="SubCutMeat.Name" class="control-label h4-Pandora"></label>
                                                    <input asp-for="SubCutMeat.Name" id="cuts-name" class="form-control" />
                                                    <span asp-validation-for="SubCutMeat.Name" class="text-danger" id="cuts-name-error"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="SubCutMeat.Quantity" class="control-label h4-Pandora"></label>
                                                    <input asp-for="SubCutMeat.Quantity" id="cuts-quantity" class="form-control" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="h3-Productivo  btn btn-primary btn-sm"><i class="glyphicon glyphicon-floppy-saved"></i> Salvar</button>
                                    <a id="close-modal" class="h3-Productivo  btn btn-warning btn-sm" data-dismiss="modal"><i class="glyphicon glyphicon-step-backward"></i> Regresar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section ScriptsBlock {
    
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $("#add-item").on('submit', function (evt) {
            evt.preventDefault();

            var _name = $("#cuts-name").val();
            var _quantity = $("#cuts-quantity").val();
            var _channel = "@ViewBag.ChannelId";

            if(_name != ''){
                $.getJSON(window.location.pathname.replace('/Create', '/AddCutMeat'), { name: _name, quantity: _quantity, channelId : _channel },
                function (data) {
                    $("#close-modal").click();
                    var _id = data['id'];
                    $("#cuts-id").append(`<option value="${_id}">${_name}</option>`);
                    $('#add-item')[0].reset();
                    }
                );
            }else{
                $("#cuts-name-error").text("El nombre es requerido")
            }
            
        });
        
    </script>

}