@model Productivo.Core.ViewModels.IoTVariables.IoTVariableEditViewModel

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-10">
        <h2>Variables</h2>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2></h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Maximizar"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Cerrar"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form enctype="multipart/form-data" asp-action="Update">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CreateUserId" />
                        <input type="hidden" asp-for="UpdateUserId" value="@userManager.GetUserAsync(User).Result.Id" />
                        <input type="hidden" asp-for="CreateDate" />
                        <input type="hidden" asp-for="LastUpdateDate" value="@DateTime.Now.ToString("MM-dd-yyyy")" />
                        <input type="hidden" asp-for="CompanyId" value="@userManager.GetUserAsync(User).Result.CompanyId" />
                        <input type="hidden" asp-for="IoTsId" value="@ViewBag.IoTId" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label h4-Pandora"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="MinValue" class="control-label h4-Pandora"></label>
                                    <input asp-for="MinValue" class="form-control" />
                                    <span asp-validation-for="MinValue" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="MaxValue" class="control-label h4-Pandora"></label>
                                    <input asp-for="MaxValue" rows="4" class="form-control"> </input>
                                    <span asp-validation-for="MaxValue" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="UpdateInterval" class="control-label h4-Pandora"></label>
                                    <input asp-for="UpdateInterval" class="form-control" />
                                    <span asp-validation-for="UpdateInterval" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="DailyReset" class="control-label h4-Pandora"></label>
                                    <input asp-for="DailyReset" class="form-control" />
                                    <span asp-validation-for="DailyReset" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button type="submit" class="h3-Productivo  btn btn-primary btn-sm"><i class="glyphicon glyphicon-floppy-saved"></i> Salvar</button>
                                    @Html.ActionLink("Regresar", "Details", "IoTs", new { id = ViewBag.IoTId, tab = "Infos" }, new { @class = "h3-Productivo  btn btn-warning btn-sm" })
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsBlock {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}