@model IEnumerable<Productivo.Core.Entities.CustomerEntity>

@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
}
<h1 class="h1-Productivo">Clientes</h1>
<p>
    <a asp-action="Create" class="h3-Productivo  btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Nuevo"><i class="fal fa-plus-square"></i></a>
    <a asp-action="ReportPDF" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="Reporte PDF" target="_blank"><i class="fal fa-print"></i></a>
</p>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2></h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Maximizar"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Cerrar"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    @if (@ViewBag.msg != null)
                    {
                        <hr />
                        <div id="message-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-trash-alt"></i></span>
                            </button>
                            <strong>Error </strong> @ViewBag.msg
                        </div>
                    }
                    <table id="MyTable" class="table table-hover table-striped table-sm w-100">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CustomerTypes.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Vendors.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BlockId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Currencies.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Initials)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerTypes.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vendors.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BlockId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Currencies.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Initials)
                                    </td>
                                    <td>
                                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="bottom" title="Modificar"><i class="fal fa-edit"></i></a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="Detalles"><i class="fal fa-info-square"></i></a>
                                        <button data-id="@item.Id" class="btn btn-danger btn-sm deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fal fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section ScriptsBlock {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por pagina",
                    "emptyTable": "No hay registros para mostrar",
                    "zeroRecords": "No se encontro nada - Lo siento.",
                    "info": "Mostrando Pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No existen registros disponibles",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "infoFiltered": "(Filtrado de _MAX_ registros totales)"
                }
            });
        });
        // Delete item
        var item_to_delete;
        $('.deleteItem').click((e) => {
            item_to_delete = e.currentTarget.dataset.id;
        });
        $("#btnYesDelete").click(function () {
            window.location.pathname = window.location.pathname.replace('/Index', '/Delete/') + item_to_delete;
        });
    </script>
}