@model Productivo.Core.Entities.IoTAlertEntity


<div class="row wrapper border-bottom page-heading">
    <div class="col-sm-4">
        <h2>Alertas</h2>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2></h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Maximizar"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Cerrar"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="m-b-md">
                                <h2>Información</h2>
                            </div>
                            <div>
                                <hr />
                                <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.IoTVariables.Name)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.IoTVariables.Name)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.AlertColor)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.AlertColor)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MinAlertValue)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MinAlertValue)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MaxAlertValue)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MaxAlertValue)
                                    </dd>
                                </dl>
                            </div>
                            <div>
                                <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-success btn-sm">Editar</a> |
                                <button data-id="@Model.Id" class="btn btn-danger btn-sm deleteItem" data-toggle="modal" data-target="#deleteDialog">Borrar</button> |
                                @Html.ActionLink("Regresar", "Details", "IoTs", new { id = Model.IoTsId }, new { @class = "h3-Pandora  btn btn-secondary btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section ScriptsBlock {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {

                window.location.pathname = window.location.pathname.replace('/Details/', '/Delete/');
            });
        });
    </script>
}

