@model Productivo.Core.ViewModels.Strips.StrippingDetailViewModel

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-10">
        <h2>Despostes</h2>
    </div>
</div>


<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2></h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Minimizar"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Maximizar"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Cerrar"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    @if (@ViewBag.msg != null)
                    {
                        <hr />
                        <div id="message-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-trash-alt"></i></span>
                            </button>
                            <strong>Error </strong> @ViewBag.msg
                        </div>
                    }
                    <form enctype="multipart/form-data" asp-action="Create">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item active"><a class="nav-link" data-toggle="tab" href="#tab_stripping" role="tab">Info. General</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab_stripping_detail" role="tab">Detalle</a></li>

                        </ul>
                        <div class="tab-content p-3">
                            <!-- STRIPPING -->
                            <div class="tab-pane fade show active" id="tab_stripping" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="m-b-md">
                                            <h2>Información</h2>
                                        </div>
                                        <hr />
                                        <div class="float-left col-sm-6">
                                            <dl class="row">
                                                <dt class="col-sm-4">
                                                    @Html.DisplayNameFor(model => model.Stripping.Reference)
                                                </dt>
                                                <dd class="col-sm-8">
                                                    @Html.DisplayFor(model => model.Stripping.Reference)
                                                </dd>
                                                <dt class="col-sm-4">
                                                    @Html.DisplayNameFor(model => model.Stripping.StartDate)
                                                </dt>
                                                <dd class="col-sm-8">
                                                    @Html.DisplayFor(model => model.Stripping.StartDate)
                                                </dd>
                                                <dt class="col-sm-4">
                                                    @Html.DisplayNameFor(model => model.Stripping.EndDate)
                                                </dt>
                                                <dd class="col-sm-8">
                                                    @Html.DisplayFor(model => model.Stripping.EndDate)
                                                </dd>
                                                <dt class="col-sm-4">
                                                    @Html.DisplayNameFor(model => model.Stripping.Status.Name)
                                                </dt>
                                                <dd class="col-sm-8">
                                                    @Html.DisplayFor(model => model.Stripping.Status.Name)
                                                </dd>
                                                <dt class="col-sm-4">
                                                    @Html.DisplayNameFor(model => model.Stripping.Remarks)
                                                </dt>
                                                <dd class="col-sm-8">
                                                    @Html.DisplayFor(model => model.Stripping.Remarks)
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- STRIPPING DETAIL -->
                            <div class="tab-pane fade" id="tab_stripping_detail" role="tabpanel">
                                <h1 class="h1-Productivo">Evolución de producción</h1>
                                <div class="panel-container">
                                    <div class="panel-content">
                                        @if (Model.StrippingDetails.Count == 0)
                                        {
                                            <h5>No hay registros asociados.</h5>
                                        }
                                        else
                                        {
                                            <table id="MyTable" class="table table-hover table-striped table-sm w-100">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.StrippingDetails[0].Channel.Name)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.StrippingDetails[0].ChannelCategory.Name)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.StrippingDetails[0].Quantity)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.StrippingDetails[0].Weight)
                                                        </th>
                                                        <th>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.StrippingDetails)
                                                    {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Channel.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ChannelCategory.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Quantity)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Weight)
                                                        </td>
                                                        <td>
                                                            <div class="btn-group">
                                                                @Html.ActionLink(" ", "Update", "StrippingDetails", new { id = item.Id }, new { @class = "btn btn-warning btn-sm fal fa-edit", data_toggle = "tooltip", data_placement = "top", title = "Modificar" })
                                                            </div>
                                                            <div class="btn-group">
                                                                @Html.ActionLink(" ", "Details", "StrippingDetails", new { id = item.Id }, new { @class = "btn btn-info btn-sm fal fa-info-square", data_toggle = "tooltip", data_placement = "top", title = "Detalles" })
                                                            </div>

                                                        </td>
                                                    </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                </div>
                                <p>
                                    @if (Model.Stripping.EndDate == null)
                                    {
                                        @Html.ActionLink("Adicionar canal.", "Create", "StrippingDetails", new { id = Model.Stripping.Id }, new { @class = "h3-Productivo  btn btn-success btn-sm" })
                                        if (Model.StrippingDetails.Count > 0)
                                        {
                                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#confirmFinishDialog">Finalizar Desposte</button>
                                        }

                                    }
                                </p>

                            </div>

                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <a asp-action="Index" class="h3-Productivo  btn btn-warning btn-sm"><i class="glyphicon glyphicon-step-backward"></i> Regresar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_ConfirmFinishDate" />


@section ScriptsBlock {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // FinishOrder
            $("#btnYesConfirm").click(function () {
                window.location.pathname = window.location.pathname.replace('/Details/', '/Finish/');
            });

        });
    </script>

    <script type="text/javascript">

        @* OEE *@
        FusionCharts.ready(function () {
             var fusioncharts = new FusionCharts({
                type: 'angulargauge',
                renderAt: 'chart-container2',
                width: '100%',
                height: '150',
                dataFormat: 'json',
                dataSource: {
                    "chart": {
                        "showBorder": "0",
                        "showShadow": "0",
                        "use3DLighting": "0",
                        "showLabels": "0",
                        "showValues": "0",
                        "paletteColors": "#58E2C2, #F7E53B",
                        "bgColor": "#ffffff",
                        "bgAlpha": "100",
                        "canvasBgAlpha": "0",
                        "decimals": "0",
                        "baseFont": "Arial",
                        "setAdaptiveMin": "1",
                        "baseFontColor": "#000000",
                        "chartTopMargin": "0",
                        "canvasTopMargin": "0",
                        "chartBottomMargin": "70",
                        "chartLeftMargin": "10",
                        "chartRightMargin": "10",
                        "showTickMarks": "0",
                        "showTickValues": "0",
                        "showLimits": "0",
                        "majorTMAlpha": "0",
                        "minorTMAlpha": "0",
                        "pivotFillAlpha": "0",
                        "showPivotBorder": "0",
                        "gaugeouterradius": "70",
                        "gaugeInnerradius": "62.5",
                        "showGaugeBorder": "0",
                        "gaugeFillMix": "{light+0}",
                        "toolTipBgcolor": "#484E69",
                        "toolTipPadding": "7",
                        "toolTipBorderRadius": "3",
                        "toolTipBorderAlpha": "30",
                        "tooltipBorderThickness": "0.7",
                        "toolTipColor": "#FDFDFD",
                        "transposeAnimation": "1"
                    },
                    "annotations": {
                        "groups": [{
                            "items": [
                                {
                                    "id": "2",
                                    "type": "text",
                                    "text": "@ViewBag.OEE%",
                                    "align": "center",
                                    "font": "Arial",
                                    "bold": "1",
                                    "fontSize": "25",
                                    "color": "#000000",
                                    "x": "$chartcenterX",
                                    "y": "$chartCenterY"
                                }, {
                                    "id": "3",
                                    "type": "text",
                                    "text": "80% OEE Min.",
                                    "align": "center",
                                    "font": "Arial",
                                    "bold": "0",
                                    "fontSize": "25",
                                    "color": "#000000",
                                    "x": "$chartcenterX",
                                    "y": "$chartCenterY + 45"
                                }]
                        }]
                    },

                    "colorRange": {
                        "color": [{
                            "minValue": "0",
                            "maxValue": "@ViewBag.OEE",
                            "code": "#58E2C2"
                        },
                        {
                            "minValue": "0",
                            "maxValue": "100",
                            "code": "#48506E"
                        }
                        ]
                    },
                    "dials": {
                        "dial": [{
                            "value": "@ViewBag.OEE",
                            "alpha": "0",
                            "borderAlpha": "0",
                            "radius": "0",
                            "baseRadius": "0",
                            "rearExtension": "0",
                            "baseWidth": "0",
                            "showValue": "0"
                        }]
                    }

                }
            });
            fusioncharts.render();
        });


    </script>
}

