@model IEnumerable<Productivo.Core.Entities.WHLocationEntity>

@{
    Layout = null;
    ViewData["Title"] = "Pandora + / Ubicaciones de almacen";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" media="screen, print" href="~/css/Productivo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Productivo / Ubicaciones de almacen</title>
</head>
<body>

    <div class="row">
        <div class="col-sm-4">
            <img src="~/images/Productivo Small.png" width="100" height="100" />
        </div>
        <div class="col-sm-8 text-right">
            <h2>Ubicaciones de almacen</h2>
        </div>
    </div>
    <table id="MyTable" class="table table-hover table-striped table-sm w-100">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

